@media (max-width: 365px) and (min-width: 280px) {
    .logo h1{
        font-size: 25px;
    }
    
    .login-btn button, .signUp-btn button{
        width: 100%;
    }

    .body{
        background-color: white;
    }

    .login-form, .signUp-form-side{
        border-left: none;
    }

    .login-google i{
        margin: 0;
    }

    .login-img img, .signUp-img-side img{
        width: 200px;
    }

    .box-container{
        border: none;
        margin: auto;
    }

    .shadoww{
        box-shadow: none;
    }

    .login-form, .signUp-form-side{
        border-left: none;
    }

    .login-form .p1, .signUp-form-side .p1{
        font-size: 18px;
        margin-bottom: 20px;
    }

    .signUp-img-side img{
        margin-bottom: 10px;
    }

    .login-form, .signUp-form-side{
        padding: 15px 30px;
    }

    .or-img img{
        width: 80px;
    }

    .or-img span, .login-with{
        font-size: 10px;
    }

    .login-img h4, .signUp-img-side h4{
        font-size: 12px;
        margin-top: 0px;
    }

    .register-link, .login-link{
        margin-top: 10px;
    }

    .forget{
        margin-bottom: 20px
    }

    .input-icons i {
        right: 30px
    }

    .login-google i{
        font-size: 32px;
        padding: 8px;
        margin: 5px;
    }

    /* Dashboard */

    .navbar{
        background-color: #ffffff;
        padding: 20px 10px;
    }

    .navbar button, .nav-2{
        display: block;
    }

    nav button {
        outline: none;
        border: none;
        background-color: white;
    }

    .calender{
        padding: 0 20px;
    }

    .sm-screen-nav-2{
        position: absolute;
        right: 0;
        top:0
    }

    .sm-screen-cal{
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .sidenav{
        bottom: 0;
        height: 88%;
    }

    .main {
        margin-left: 0;
        padding: 0;
        margin: 10px;
    }

    .main-2, .main-3{
        margin: 0;
        padding: 0
    }

    .actions-box div{
        font-size: 10px;
    }

    .actions-box, .service-box {
        height: 100px;
        width: 80px;
        border-radius: 10px;
    }

    .actions-box i {
        font-size: 25px;
        margin-bottom: 10px;
        margin-top: 25px;
    }

    .welcome .text {
        font-size: 10px;
        margin-top: 15px;
    }

    .welcome{
        margin: auto
    }

    .welcome-img{
        margin: auto
    }

    .welcome .img img {
        width: 120px;
    }

    .message{
        font-size: 10px;
        margin-top: 10px;
    }

    .topnav input {
        width: 260px;
    }

    .topnav button{
        width: 40px;
        padding: 7px;
    }

    .intro{
        height: 150px;
    }

    .margin-top{
        margin-top: 30px;
    }

    /* Profile */

    .main-profile{
        padding: 15px 0;
    }

    .info-1 h5, .info-2 .phone, .info-2 .mail, .info-1 p {
        font-size: 10px;
    }

    .socials i {
        font-size: 15px;
        margin-left: 15px;
    }

    /* Programme */

    .table thead th {
        font-size: 11px;
    }

    /* Services */

    .service-box {
        height: auto;
        width: 110px;
    }

    .service-box div, .service-box p{
        padding: 0 5px;
    }

    /* About */

    .about-box div img {
        height: 150px;
        margin-bottom: 10px;
    }    

    .about-col .about-text p {
        padding: 3px;
    }

    .top{
        margin-top: 40px;
    }

    /* Create New */

    .main-add{
        padding: 10px;
    }
}


@media (max-width: 750px) and (min-width: 375px) {
    .logo h1{
        font-size: 25px;
    }
    
    .overlay { 
        top: 50%;
    }

    .logo img{
        width: 50px;
    }

    /* Login / signup */
    .body{
        background-color: white;
    }

    .box-container{
        border: none;
        margin: auto;
    }

    .shadoww{
        box-shadow: none;
    }

    .register-link, .login-link {
        padding-bottom: 0;
    }

    .login-form, .signUp-form-side{
        border-left: none;
    }

    .login-form .p1, .signUp-form-side .p1{
        font-size: 18px;
        margin-bottom: 20px;
    }

    .login img, .signUp-img-side img{
        width: 260px;
    }

    .signUp-img-side img{
        margin-bottom: 10px;
    }

    .login-form, .signUp-form-side{
        padding: 15px 30px;
    }

    .or-img img{
        width: 80px;
    }

    .or-img span, .login-with{
        font-size: 10px;
    }

    .login-img h4, .signUp-img-side h4{
        font-size: 12px;
        margin-top: 0px;
    }

    .register-link, .login-link{
        margin-top: 10px;
    }

    .login-btn button, .signUp-btn button{
        margin: 5px 0;
        padding: 8px;
    }

    .forget{
        margin-bottom: 20px
    }

    .input-icons i {
        right: 30px
    }

    .login-google i{
        font-size: 32px;
        padding: 8px;
        margin: 5px;
    }

    /* Dashboard */

    .navbar{
        background-color: #ffffff;
        padding: 20px 10px;
    }

    .navbar button, .nav-2{
        display: block;
    }

    .sm-screen-nav-2{
        position: absolute;
        right: 0;
        top:0
    }

    .sm-screen-cal{
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .sidenav{
        bottom: 0;
        height: 88%;
    }

    .sidenav2 {
        top: 80px;
        height: 53%;
    }

    .main {
        margin-left: 0;
        padding: 0;
        margin: 10px;
    }

    .main-2, .main-3{
        margin: 0;
        padding: 0
    }

    /* .calender, .calender-sm{ 
        
    }*/

    .actions-box div{
        font-size: 12px;
    }

    .actions-box{
        height: 100px;
        width: 100px;
        border-radius: 10px;
    }

    .actions-box i {
        font-size: 25px;
        margin-bottom: 10px;
        margin-top: 25px;
    }

    .welcome .text {
        font-size: 12px;
        margin-top: 15px;
    }

    .welcome{
        margin: auto
    }

    .welcome-img{
        margin: auto
    }

    .welcome .img img {
        width: 150px;
    }

    .message{
        font-size: 11px;
    }

    .topnav input {
        width: 298px;
        padding: 7px;
    }

    .topnav button{
        width: 50px;
        padding: 7px;
    }

    .intro{
        height: 150px;
    }

    .margin-top{
        margin-top: 30px;
    }

    .login img, .signUp-img-side{
        padding: 0px;
    }

    /* Modal */

    .position{
        padding-bottom: 0;
        font-size: 11px;
    }

    .content-card img {
        width: 120px;
    }

    .result-row-sm{
        margin-bottom: 10px;
    }

    .second {
        margin-top: 10px;
    }

    .back-card{
        width: 100%;
    }

    .modal-title{
        font-size: 13px;
    }

    .card-title {
        font-size: 13px;
    }

    .card-body {
        padding: 10px;
    }
    
    .topnav .close-sm{
        width: 60px;
    }

    nav button{
        outline: none;
        border: none;
        background-color: white;
    }

    .fa-bars, .fa-info-circle{
        font-size: 30px;
    }

    .fa-info-circle{
        font-size: 25px;
    }

    /* Profile */

    .main-profile {
       padding: 15px 0;
    }

    .info-1 h5 {
        font-size: 13px;
    }

    .info-1 p {
        font-size: 13px;
    }

    /* Programme */

    .table thead th {
        font-size: 11px;
    }

    /* Services */

    .aim {
        margin: 20% 0;
    }

    .service-box{
        height: auto;
        width: 110px;
        border-radius: 10px;
        padding: none;
    }

    .service-box div, .service-box p{
        padding: 0 2px;
        font-size: 11px;
        text-align: center
    }

    .service-box i{
        font-size: 50px;
    }

    .second-service{
        margin-top: 13px;
    }

    /* About */

    .message input {
        padding: 10px;
    }

    .about-box{
        margin-bottom: 10px;
    }

    .about-box div img {
        height: 150px;
    }

    .padding-none{
        padding: 10px;
    }

    .about-text, .contact-text{
        font-size: 11px;
    }

    .about-col .about-text p{
        padding: 0;
        margin-bottom: 0;
    }

    .box-2{
        height: 0;
    }

    /* Create New */

    .main-add {
        padding: 10px;
    }

    /* Send Invite */

    .invite-padd {
        margin: 0;
    }

    .saved-invite{
        margin: 0;
    }

    .saved-invite .create-new-title{
        margin-bottom: 10px;
    }

    .saved-invite .invite-padd .pp{
        margin: 0
    }
}

@media (max-width: 992px) and (min-width: 768px) {

    .overlay { 
        top: 28%;
    }

    .logo img{
        width: 50px;
    }

    /*Login / signup / Add-Guest*/
    .body{
        background-color: white;
    }

    .box-container{
        margin: 120px auto;
    }

    .login img, .signUp-img-side img{
        width: 350px;
    }

    .login-form, .signUp-form-side{
        padding: 20px;
    }

    .or-img img{
        width: 100px;
    }

    .input-icons i {
        right: 20px
    }


    /* Dashboard */

    .navbar{
        background-color: #ffffff;
        padding: 20px 10px;
    }

    .navbar button, .nav-2{
        display: block;
    }

    nav button {
        outline: none;
        border: none;
        background-color: white;
    }

    .sm-screen-nav-2{
        position: absolute;
        right: 0;
        top:0
    }

    .sidenav{
        top: 90px;
        height: 55%;
    }
    
    .main {
        margin-left: 0;
        padding: 0;
        margin: 10px;
    }

    .main-2{
        margin: 0;
        padding: 0
    }

    .main-3{
        padding: 0 10px;
    }

    .fa-bars{
        font-size: 32px;
    }

    .fa-info-circle{
        display: none;
    }

    .actions-box{
        width: 150px;
    }

    .welcome .img img {
        width: 150px;
    }

    .welcome .text{
        font-size: 14px;
    }
    .message{
        margin-top: 10px;
    }

    .calender{
        padding: 20px;
    }

    /* Profile */

    .main-profile{
        padding: 15px 0;
    }

    /* Services */

    .service-box {
        width: 190px;
    }

    /* About */

    .calender-padd{
        padding: 10px;
    }

    /* Create New */
    
    .main-add {
        padding: 90px;
    }

    }


    @media (max-width: 1100px) and (min-width: 992px) {

    .login-form, .signUp-form-side, .addFiles-form-side{
        padding: 20px 30px;
    }

    .logo img{
        width: 50px;
    }

    .input-icons i {
        right: 20px
    }

    .or-img img{
        width: 80px;
    }

    .or-img span, .login-with{
        font-size: 10px;
    }

    .login-img img{
        width: 380px;
    }

    /* Dashboard */

    .welcome .text{
        font-size: 15px;
    }
    .message{
        margin-top: 10px;
    }

    .calender{
        padding: 20px;
    }

    .actions-box{
        width: 160px;
    }

    .margin-top {
        margin-top: 10px;
    }

    /* Profile */

    .main-profile{
        padding: 15px 0;
    }

    /* Services */

    .service-box {
        width: 184px;
    }

    /* About */

    .message input {
        width: 100%;
    }

    /* Create New */

    .main-add {
        padding: 90px;
    }
}

@media (max-width: 1300px) and (min-width: 1180px) {

    .margin-top {
        margin-top: 30px;
    }

    /* Services */

    .service-box {
        width: 248px;
    }

}