@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


body{
    font-family: "Poppins", sans-serif;
}

.body{
    background-color: rgb(248, 248, 248);
}

.index{
    background-color: #732DA1;
    height: 100vh;
}

.logo img{
    width: 80px;
}

.logo h1{
    color: white;
    font-weight: bold
}

.logo h1 a{
    text-decoration: none;
    color: white
}

.vertical-height{
    height: 100%;
}

.overlay { 
    position:absolute;
    z-index:12;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
}

/*Login / SignUp / Add Guest*/

.box-container{
    /* border: 1px solid #3554FF; */
    margin: 50px 100px;
    background-color: white
}

.login-img img{
    width: 200px;
}

.signUp-img-side img{
    width: 200px;
}

.login-form, .signUp-form-side{
    border-left: solid #301452 1px;
    padding: 40px;
}


.login-img h4, .signUp-img-side h4{
    font-size: 15px;
    color: #301452;
    margin-top: 50px;
}

.signUp-img-side h4{
    margin-top: 60px;
}

.login-form .p1, .signUp-form-side .p1{
    color: #301452;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 60px;
}

.form-input input{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #817E7E;
    margin-bottom: 30px;
}

.addForm-input input:focus, .invite-textarea:focus, .message input:focus, textarea:focus{
    outline: 1px solid #c6bcd4;
}

.addForm-input input{
    width: 100%;
    outline: none;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 5px;
    font-size: 13px;
    border: none;
}

.addForm-input input:last-of-type{
    margin-bottom: 50px;
}

.addForm-input .image-input{
    border: 1px solid #381B5A;
    padding: 6px;
}

.addForm-input input::placeholder, .login-form input::placeholder, .signUp-form-side input::placeholder,
.form-input input::placeholder, textarea::placeholder, .message input::placeholder{
    padding-left: 4px;
    color: #c6bcd4;
}

.addForm-input label{
    font-size: 15px;
}

.form-input input::placeholder, textarea::placeholder{
    font-size: 13px;
}

.form-input input:last-child{
    margin-bottom: 0px
}

.forget{
    font-size: 12px;
    color: #009cf0;
    margin-bottom: 20px;
    margin-top: 5px;
}

.login-btn button, .signUp-btn button, .addForm-btn button{
    background-color: #ffffff;
    color: #301452;
    padding: 6px;
    width: 100%;
    outline: none;
    border: 1px solid #c6bcd4;
    border-radius: 5px;
    font-size: 14px;
    margin: 25px 0;
}

.login-btn button:hover, .signUp-btn button:hover {
    background-color: #cfb6ee;
    border: #cfb6ee 1px solid;
    color: white;
}

.login-btn button a, .signUp-btn button a {
    color: #301452;
}

.signUp-btn button{
    margin: 40px 0;
}

.addForm-btn button{
    margin: 10px 0;
}

.login-with{
    font-size: 13px;
}

.login-google i{
    font-size: 30px;
    padding: 10px;
    margin: 10px 0;
}

.fa-facebook-official{
    color: #009cf0;
}

.fa-google-plus-square{
    color: #732DA1;
}

.fa-twitter-square{
    color: #35E4FF;
}

.register-link, .login-link{
    font-size: 14px;
    padding-bottom: 10px;
}

.register-link span, .login-link span{
    color: #009cf0;
}

.or-img img{
    width: 120px;
}

.or-img span{
    font-size: 12px
}

.shadoww{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* Icons */

.input-icons i {
    position: absolute;
    right: 30px;
    color: #301452;
}
 
.input-icons {
    width: 100%;
    margin-bottom: 0px;
}
 
.icon {
    padding-bottom: 0px;
    min-width: 40px;
    padding: 5px;
}
 
.input-field {
    width: 100%;
    text-align: center;
}

.navbar-brand img{
    width: 70%;
}

.navbar-brand{
    padding: 0 0 40px 16px;
}

.navbar button,.nav-2{
    display: none;
}

.intro{
    border-radius: 10px;
    height: 140px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 195px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    bottom: 0; /* Stay at the top */
    left: 0;
    background-color: #301452; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  /* The navigation menu links */

  .link{
    margin:  0 0 20px 16px;
  }

  .sidenav a {
    text-decoration: none;
    font-size: 13px;
    color: #d1d1d1;
    padding-bottom: 8px;
  }

  .sidenav i {
      color: white;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .active{
    color: white;
}
  
  /* Style page content */
  .main {
    margin-left: 160px; /*Same as the width of the sidebar*/
    padding: 0px 50px;
    margin-top: 10px;
  }

  .main-3{
      padding: 0 35px;
  }

  .actions{
      margin-top: 20px;
      padding: 0px;
  }

  .margin-top{
      margin-top: 50px;
  }

  .actions-title, .todays, .guest-list, .programme, .service-title, .about-title, .contact-title, .send-invite-title {
      margin-bottom: 13px;
      font-weight: 600;
      font-size: 14px;
      color: #0E0B16;
    }

    .title-main{
        padding: 0 20px;
    }


    .space{
        margin: 0px;
    }

   .todays{
        padding-top: 15px;
    }

  .actions-box{
      height: 140px;
      width: 30%;
      border-radius: 10px;
  }

  .actions-2{
      margin-top: 35px;
  }

  .actions-box i{
      font-size: 35px;
      margin-bottom: 20px;
      margin-top: 35px;
  }

  .actions-box div{
      font-size: 15px;
  }

  .actions-box a{
      text-decoration: none;
      color: white;
  }

.actions-box:hover{
    background-color: #f0f0f0;
}

.one{
    background-color: #dcffd6;
}
.one a{
    color: #3ae723;
}

.two{
    background-color: #f3e9ff;
}
.two a{
    color: #301452;
}

.three{
    background-color:#ffcabf;         
}
.three a{
    color:#d34b30;         
}

.four{
    background-color: #ffe6e1;
}
.four a{
    color: #ff6141;
}

.five{
    background-color: #d3f0ff
}
.five a{
    color: #009cf0
}

.six{
    background-color: #c7f0cb;
}
.six a{
    color: #00df13;
}

.one, .two, .three, .four, .five, .six{
    text-align: center;
}

.fa-search{
    font-size: 14px;
}

.welcome .img img{
    width: 160px;
    margin-top: 22px;
}

.welcome .text{
    font-size: 18px;
    font-weight: 600;
    color: #381B5A;
    margin-top: 20px;
}

.message{
    font-size: 13px;
    color: #381B5A;
    margin-top: 20px;
    font-weight: 400;
}

  /* Style the search box inside the navigation bar */
  
    .topnav input:focus {
        outline: none;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }

  .topnav input{
    width: 93%;
    background-color: white;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    margin: 35px 0 10px 0;
    padding: 5px;
  }

  .inputClickAdd{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


  .topnav input::placeholder{
      padding-left: 10px;
      color: #c6bcd4;
      font-size: 13px;
  }

  .topnav button, .topnav .close-sm{
      padding: 6px;
      width: 40px;
      border: 1px solid #cfb6ee;
      background-color: #cfb6ee;
      border-radius: 6px;
      color: #301452;
  }

  .topnav .close-sm{
      width: 60px;
  }


/* Calender */

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */

.calender{
    background-color: #f0f0f0;
    border-radius: 6px;
    padding: 0 50px;
}

.calender-sm{
    background-color: #f0f0f0;
    border-radius: 6px;
}

.ground{
    background-color: #777;
}

.month, .e-month, .e-sendInvite{
  padding: 15px 0;
  width: 100%;
  background: #ffffff;
  text-align: center;
  border-radius: 6px;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li{
    font-size: 14px;
    font-weight: 600;
}

.countdown p, .countdown h6{
    margin-bottom: 0;
}

.countdown p{
    font-size: 12px;
}

.countdown h6{
    font-size: 14px;
    color: #d34b30;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

.guest-div{
    padding: 0 15px;
}

.guest-div .row{
    margin-bottom: 10px;
    background-color: white;
    padding: 8px 0;
    border-radius: 6px;
}

.guest-img{
    width: 40px;
}

.guest-name, .guest-invite, .guest-pending, .time, .list{
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 0;
}

.guest-invite{
    color: #32e541;
}


.guest-pending, .info-1 p{
    color: #c6bcd4;
}

.view-all{
    font-size: 12px;
    color: #009cf0;
}

/* Programme */

tbody tr:hover{
    background-color: #f0f0f0;
}

.add, .del, .modal-footer button{
    border: 1px solid #c6bcd4;
    width: 100px;
    padding: 6px;
    border-radius: 6px;
    background-color: none;
    font-size: 15px;
    color: #301452;
}

.add, .del{
    margin-bottom: 0px;
}

.button-click a{
    color: #0E0B16;
    text-decoration: none;
}

.modal-footer button{
    border: none;
}

.add i, .del i{ 
    font-size: 18px;
    margin-right: 5px;
    color: #301452;
}

.del i{
    color: #d34b30;
}

.add:hover, .del:hover, .add span:hover, .del span:hover, .modal-footer button:hover, .add i:hover, .del i:hover,
.topnav button:hover{
    background-color: #cfb6ee;
    color: white;
}

.programme-list{
    padding: 8px;
    background-color: #ffffff;
    border: 1px solid rgb(221, 221, 221);
    margin-bottom: 10px;
    border-radius: 6px;
}

.main-programme-list{
    padding: 0 150px;
}

.main-programme-list,.event-list{
    margin-top: 30px;
}

.main-add{
    background-color: #f0f0f0;
    margin: auto;
    border-radius: 10px;
    padding: 75px 160px;
}

.main-profile{
    margin: 30px auto;
    border-radius: 10px;
    padding: 20px 150px;
    background-color: #f0f0f0
}

.select{
    border: #d1d1d1 1px solid;
    border-radius: 12px;
}

.select{
    font-size: 11px;
}

.main-programme-list{
    padding: 0;
}

.fa-check-circle-o{
    color: #58ed44;
}

.p-active{
    color: #009cf0;
}

.done{
    color: #301452;
}

.fa-times-circle-o, .loading{
    color: #c6bcd4;
}

.programme-head{
    background-color: #301452;
    color: white;
}

.add-p i{
    font-size: 35px;
    margin: 30px 0;
}

.table thead th{
    font-size: 13px;
}

.table tbody .td{
    font-size: 13px;
}
/* Modal */
.back-card{
    border-radius: 10px;
    width: 300px;
    height: auto;
}

.back-card-profile{
    border-radius: 10px;
    width: 100%;
}

.content-card{
    border-radius: 10px;
}

.content-card img{
    width: 150px;
    margin-top: 15px;
}

.card-body{
    background-color: white;
}

.card-body2{
    background-color: white;
    border: 2px solid #f0f0f0;
    border-radius: 10px;
}

.position{
    color: #d34b30;
    padding-bottom: 20px;
    font-size: 13px;
}

.card-text{
    font-size: 13px;
}

.card-title{
    font-size: 15px;
    font-weight: 600;
}

.second{
    margin-top: 55px;
}

.empty{
    color: #c6bcd4;
}

.full{
    color: #32e541;
}

.modal-footer button{
    width: 10%
}

.footer-nav{
    position: absolute;
    bottom: 0;
    margin:  0 12px;
}

.footer-nav img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.footer-nav i{
    font-size: 15px;
    margin-right: 15px;
}

.footer-nav p{
    color: white;
    font-size: 12px;
    margin-left: 8px;
}

/* Profile */

.profile img{
    border-radius: 50%;
}

.info-1 h5{
    font-size: 18px;
    margin-bottom: none;
}

.info-2 .phone, .info-2 .mail, .info-1 p{
    font-size: 14px;
    font-weight: 500;
    margin: 15px 0;
}

.info-2 .mail{
    color: #009cf0;
}

.info-1 p{
    margin: 0
}

.socials i{
    font-size: 20px;
    margin-left: 30px;
    padding: 4px 6px;
}

.socials-2 i{
    font-size: 20px;
    margin-left: 30px;
    padding: 4px 6px;
}

.fa-google{
    background-color: #d1b1f8;
    color: #381B5A;  
}

.fa-twitter{
    background-color: rgb(197, 247, 255);
    color: #009cf0;    
}

.fa-instagram{
    background-color: #ff8d76;
    color: #ffffff;
}

.fa-facebook-square{
    background-color: #301452;
    color: #009cf0;
}

/* Event */

.event-list p, .event-show p{
    font-size: 13px;
    padding: 10px;
    margin-bottom: 0;
}

.event-list .d-flex, .event-show .d-flex{
    border: 1px solid #f0f0f0;
    margin-bottom: 5px;
    border-radius: 6px;
}

.event-list .d-flex .active{
    color: #32e541;
}

.event-list .d-flex:hover, .event-list .d-flex .active:hover{
    background-color: #f0f0f0;
}

.event-list a{
    color: #0E0B16;
    text-decoration: none;
}

.e-month, .e-sendInvites {
    padding: 10px;
  }

.saved-invite{
    margin: 20px 0;
}

.saved-invite .invite-padd .pp{
    margin: 15px 0;
}

.e-duration{
    font-size: 12px;
}

.e-duration p{
    margin: 3px;
}

.count{
    color: #d34b30;
}

.date{
    font-weight: 600;
}

.event-show .d-flex{
    background-color: white;
    border-radius: 6px;
}

/* Services */

.service-box{
    height: 230px;
    width: 30%;
    border-radius: 10px;
}

.service-box-bottom{
    margin-top: 25px;
}

.service-box i{
    font-size: 60px;
}

.service-box div{
    font-size: 13px;
    font-weight: 600;
    padding: 0 25px;
    text-align: left;
}

.service-box p{
    font-size: 13px;
    padding: 0 25px;
    text-align: left;
}

.services-2{
    margin-top: 35px;
}

.second-service-i{
    margin-top: 40px;
}

.one-s{
    background-color: #ecffe9;
}
.one-s i{
    color: #3ae723;
}

.two-s{
    background-color: #f1f1f1;
}
.two-s i{
    color: #301452;
}

.three-s{
    background-color:#ffede9;         
}
.three-s i{
    color:#d34b30;         
}

.four-s{
    background-color: #f3dad5;
}
.four-s i{
    color: #ff6141;
}

.five-s{
    background-color: #e4f6ff
}
.five-s i{
    color: #009cf0
}

.six-s{
    background-color: #d0ecd3;
}
.six-s i{
    color: #00df13;
}

.service-sm{
    padding: 0;
}

.service-sm img{
    width: 100%;
    height: 100%;
    opacity: 0.7
}

.aim{
    margin-top: 50%;
}

.aim div{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.aim p{
    font-size: 15px;
    padding: 10px;
}

.dark-shadow{
    background-color: #0E0B16;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.2;
}

/* About */

.box-1{
    height: 300px;
}

.box-2{
    height: 200px;
}

.about-box{
    margin-bottom: 20px;
}

.about-box div:last-child{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 0 10px;
}

.about-box div:first-child{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 0;
}

.about-box div img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.about-col, .contact-text{
    font-size: 13px;
}

.about-col .about-col p{
    padding: 15px;
}

.contact-text span{
    font-size: 13px;
    font-weight: 600;
}

.left-none i{
    margin-left: 0;
    margin-right: 30px;
}

.padding-none{
    padding: 10px;
}

.message input{
    padding: 6px;
    outline: none;
    border-radius: 6px;
    border: none;
    margin: 10px 0;
    width: 49%;
}

textarea{
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    width: 100%;
    height: 100px;
    padding: 5px;
}

/* Create Invite */
.invite-textarea{
    border: none;
    border-radius: 6px;
    width: 100%;
    height: 150px;
    padding: 5px;
    margin: 0;
    margin-bottom: 10px

}


.addForm-input input.none{
    margin-bottom: 20px;
}

.e-duration .p{
    margin-bottom: 10px;
}

.e-duration h6{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0;
}

.addForm-input .d-flex input.Date, .addForm-input .d-flex input.time{
    width: 48%;
}

.invite-padd{
    margin: 0 100px;
}

.main-3-no{
    padding: 0 0 0 30px;
}